body {
    padding-top: 5rem;
}

footer  {
    padding-top: 20px;
}

.contain
{
    width: 18rem; 
    height: 25rem;
    float: right;
    border-radius: 25px;
    padding-right: 10px;
    padding-left: 10px;

}
#cent{
    text-align: center;
}



.card-title{
    font-size: 15px;
}
.img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
    
.card{
    margin: .5em 0 .10em 0;
    border-top-color: green;
    padding-bottom: 10px;
}
